* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to right, #A0BEF8, #B5F0F0);
}

svg {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.br {
    border: 2px solid red;
}

.bb {
    border: 2px solid blue;
}

.my-btn {
    border: 0;
    background-color: #4482fd !important;
}


.w-30 {
    width: 30% !important;
}

@media screen and (max-width: 620px ){
    .w-30 {
        width: 95% !important;
    } 
}
@media screen and (max-width: 768px ){
    .w-30 {
        width: 75% !important;
    } 
}